{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
{% block title %}
VedaRoots
{% endblock %}
</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block extra_css %}
{% endblock %}

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

</head>

<body>

<header>

<nav class="navbar">

<a href="{% url 'home' %}" class="logo">
🌿 <span>VedaRoots</span>
</a>

<ul class="nav-links">

<li><a href="{% url 'home' %}">Home</a></li>

<li><a href="{% url 'shop' %}">Shop</a></li>

<li><a href="{% url 'about' %}">About</a></li>

<li><a href="{% url 'blogs' %}">Blogs</a></li>

<li><a href="{% url 'contact' %}">Contact</a></li>

</ul>

<div class="nav-icons">

{% if user.is_authenticated %}

<div class="profile-dropdown">

<button class="profile-btn">

<i class="fa-solid fa-user"></i>

{{ user.username }}

<i class="fa-solid fa-chevron-down"></i>

</button>

<div class="dropdown-menu">

<div class="dropdown-header">

<h4>{{ user.get_full_name|default:user.username }}</h4>

<p>{{ user.email }}</p>

</div>

<a href="{% url 'profile' %}">
<i class="fa-solid fa-house"></i>
Dashboard
</a>

<a href="{% url 'my_orders' %}">
<i class="fa-solid fa-box"></i>
My Orders
</a>

<a href="{% url 'wishlist' %}">
<i class="fa-solid fa-heart"></i>
Wishlist
</a>

<a href="#">
<i class="fa-solid fa-location-dot"></i>
Saved Address
</a>

<a href="#">
<i class="fa-solid fa-gear"></i>
Settings
</a>

<form action="{% url 'account_logout' %}" method="POST">

{% csrf_token %}

<button type="submit">

<i class="fa-solid fa-right-from-bracket"></i>

Logout

</button>

</form>

</div>

</div>

{% else %}

<a href="{% url 'login' %}" class="login-btn">

Login

</a>

{% endif %}

<a href="{% url 'cart' %}" class="cart-btn">

🛒 Cart

</a>

</div>

</nav>

</header>

<main>

{% block content %}
{% endblock %}

</main>

<footer>

<p>

© 2026 VedaRoots. All Rights Reserved.

</p>

</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>

const slider=document.querySelector(".categorySwiper");

if(slider){

new Swiper(".categorySwiper",{

slidesPerView:4,

spaceBetween:30,

loop:true,

speed:1200,

autoplay:{

delay:4000,

disableOnInteraction:false,

pauseOnMouseEnter:true,

},

navigation:{

nextEl:".swiper-button-next",

prevEl:".swiper-button-prev",

},

pagination:{

el:".swiper-pagination",

clickable:true,

},

breakpoints:{

0:{slidesPerView:1},

576:{slidesPerView:2},

768:{slidesPerView:3},

1024:{slidesPerView:4}

}

});

}

</script>

<script src="{% static 'js/main.js' %}"></script>

{% block extra_js %}
{% endblock %}

</body>

</html>